.v-lat-header {
  background: rgb(44, 62, 80);
  width: 100%;
  color: #fff;
  padding: 1rem;

  &-title {
    font-size: 1.25rem;
    margin: 0;
  }

  &-subtitle {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}
